<div id="<%= dom_id animal %>">
  <p>
    <strong>Animal:</strong>
    <%= animal.name %>
    <strong>Granjero:</strong>
    <%= animal.farmer %>
    <strong>Granja:</strong>
    <%= animal.farm.name %>

  </p>


</div>
