<div id="<%= dom_id farmer %>">
  <p>
    <strong>Name:</strong>
    <%= farmer.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= farmer.age %>
  </p>

  <p>
    <strong>Farm:</strong>
    <%= farmer.farm_id %>
  </p>

</div>
